@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="align-content-center" src="https://logodix.com/logo/662468.jpg" alt="logo" width="120px" height="120px" />
    <h1 class="display-4 text-success">Welcome to App Service Demo App</h1>
    <h1 class="display-6 text-primary">This application has been hosted on Azure App Service</h1>
</div>
<br />
